.header {
    background: #1d1d1d;
}
.navbar-brand {
    color: #e4bb7d !important;
}
.header .nav-link {
    color: white;
}
.header .nav-item.active .nav-link {
    color: #b98941 !important;
}
.header .nav-link:hover {
    color: #b98941 !important;
}
.boton {
    background: #e4bb7d !important;
    color: #1d1d1d !important;
}
.top {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.top .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.informacion {
    padding: 5rem 0;
}
.trabajos {
    background: #333;
    padding: 5rem 0;
}
.trabajos .col-12 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}
.mail {
    padding: 2rem 0;
    background: #ebebeb;
}
.footer {
    padding: 1.5rem 0;
    background: black;
}
.footer .col-12 {
    text-align: center;
    color: white;
}
.contacto {
    padding: 5rem 0;
}
.contacto h2 {
    margin-bottom: 2rem;
}